:root {
  --font-xl: 2rem;
  --font-l: 1.5rem;
  --font-m: 1.25rem;
  --font-standard: 1rem;
  --font-small: 0.85rem;

  --spacing-1: 12px;
  --spacing-2: 24px;
  --spacing-3: 36px;
  --spacing-4: 48px;
  --spacing-5: 60px;

  --primary-color: rgba(255, 118, 38, 1);
  --primary-light: rgba(255, 118, 38, 0.8);
  --light-grey: rgba(0, 0, 0, 0.04);
  --dark-grey: #444;

  --text-color: #121212;
  --text-inverted: #f0f0f0;
}

* {
  box-sizing: border-box;
}

:focus:not(:focus-visible) {
  outline: none;
}

body {
  background-color: var(--light-grey);
  font-family: "Lato", sans-serif;
  overflow-y: scroll;
  display: grid;
  min-height: 100vh;
  grid-template-rows: 100px 1fr 100px;
  grid-template-columns: 1fr;
  grid-column-gap: var(--spacing-3);
  color: var(--text-color);
  grid-template-areas:
    "header"
    "content"
    "footer";
}

hr {
  background-color: var(--light-grey);
}

h1 {
  font-size: var(--font-xl);
}

h2 {
  font-size: var(--font-l);
}

h3 {
  font-size: var(--font-m);
}

header {
  grid-area: header;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--spacing-3);
  margin-bottom: var(--spacing-2);
}

main {
  padding: var(--spacing-1) var(--spacing-3);
  grid-area: content;
}

h1, h2, h3, h4, h5, h6, p {
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  padding: var(--spacing-1) var(--spacing-3);
  color: var(--text-inverted);
  background-color: var(--dark-grey);
  grid-area: footer;
  align-self: end;
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: white;
  padding: var(--spacing-1);
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px #f0f0f0;
}

.input {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--spacing-2);
}

.input > label {
  width: 100px;
  font-size: var(--font-small);
}

.input > input, .input > textarea {
  flex-grow: 1;
  border-radius: 2px;
  border: 1px solid var(--primary-color);
}

.input > input:focus, .input > textarea:focus {
  outline: 2px solid var(--primary-color);
}

button {
  border-radius: 4px;
  cursor: pointer;
  padding: var(--spacing-1) 0;
  border: 2px solid var(--primary-light);
  background-color: white;
  transition: 0.2s background-color;
  text-transform: uppercase;
}

button:hover {
  background-color: var(--light-grey);
}